.nnavbar{
    background-color: ffd700;
}
body{
    background-color: #ffd700;
}

.picture{

}
.picture > img{
    filter: grayscale(1) brightness(0);
    height: 100px;
}
.navtabs{
    padding: 5px 5px;
    font-weight: bolder;
    background-color: black;
    margin-left: 4px;
    color: #ffd700;
    margin-bottom: 8px
}
.car{
    max-height: 500px;
}

.ca{
    width: 100%;
    position: relative;
}
.textslide{
font-family: sans-serif;
font-weight: 1000;
font-size: 50px;
color: white;
position: absolute;
width: 100%;
text-align: center;
top: 50%;
}
.card1{
    margin-top: 10px;
}

.card2{
    margin-top: 10px;
}
.maincard{
    text-align: center;
}

@media (max-width: 600px) {
.maincard{
display: grid;
grid-template-columns: 1fr;

  }
}

.footer{
    width: 100%;
    background-color: black;
    color: #ffd700;
    text-align: center;
    padding: 5px;
}